@model Blog.Web.Areas.Admin.Models.Categories.CategoryModel

<h1> </h1>
<div class="col-8 align-content-center">

    <h2 class="pt-4">Categories</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <p><a href="~/user/article/create">Create Article</a></p>

    <table class="table">
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>

        @foreach (var item in Model.Categories)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>

</div>